extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert-success(5000)
    .product-detail
        .container.my-3
            button(
            class="btn btn-secondary button-go-back"
            ) Trở lại
            .row
                .col-12
                    h1 Tiêu đề sản phẩm
                    if product.title
                        h1(class="mb-4") #{product.title}
                    if product.category
                        span(class="mb-4") Danh mục:
                        a(href=`/products/${product.category.slug}`) #{product.category.title}
                    if product.price
                        div(class="mb-4") Giá: <b>#{product.price}$</b>
                    if product.priceNew
                        div(class="mb-4") Giá mới: <b>#{product.priceNew}$</b>
                    if product.discountPercentage
                        div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>

                    if product.stock
                        div(class="mb-4") Còn lại: <b>#{product.stock}</b>
                    form(action=`/cart/add/${product.id}`, method="POST")
                        input(
                            class="form-control mb-2",
                            type="number",
                            name="quantity",
                            value="1",
                            min="1",
                            max=product.stock
                        )
                        button(
                            type="submit",
                            class="btn btn-success btn-block"
                        ) Thêm vào giỏ hàng
                    if product.thumbnail
                        div(class="mb-4")
                            img(
                                src=product.thumbnail
                                style="width: 100px"
                            )
                    if product.position
                        div(class="mb-4") Vị trí: <b>#{product.position}</b>

                    if product.description
                        div(class="mb-4") !{product.description}

                    if product.images
                        div(class="mb-4")
                            each image in product.images
                                img(src=image style="width: 100px")

                    a(
                        href=`/admin/products/edit/${product._id}`
                        class="btn btn-warning"
                    ) Chỉnh sửa
    script(src="/js/show_alert.js")