mixin product-item(product)
    .col-4.mb-3
        .product-item
            .inner-image
                img(
                    src=product.thumbnail 
                    alt=product.title
                )
                if(product.featured=="1")
                    .inner-featured nổi bật
            .inner-content
                a(href=`/products/detail/${product.slug}`)
                    h3.inner-title #{product.title}
                .inner-price-new #{product.newPrice}$
                .inner-price-old #{product.price}$
                .inner-discount -#{product.discountPercentage}%